body {
  padding: 10px;
}
p {
  color: red;
  font-size: 16px;
}

#about-bootcamp {
  background: #0f347e;
  padding: 10px;
}

.text-center {
  text-align: center;
}

footer {
  background-color: #000000;
}

/*

3 major ways of using colors in CSS
color name: blue, red, green, yellow

hexadecimal - 16 
0-9
a-f

#rrggbb - 
#000000 - black 
#ffffff-white


#0f347e

00
11
22
33
44
55
66
77
88
99
aa
bb
cc
dd
ee
ff



rgb()


r-red (0 - 255)
g-green (0 -255)
b-blue (0 -255)

color: red;
color: rgb(255, 0, 0)

color: blue;
color: rgb(0, 0, 255)

color: rgb(12, 234, 170)

color: rgb(0, 0, 0)
*/

.form-element {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
button {
  background: purple;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}
table {
  width: 100%;
}
th {
  font-size: 18px;
}
img {
  width: 200px;
  height: 100px;
}
